<html>
<head>
<title>Twitter cosine search</title>
<style>
.center {
    transform: translateY(100%);
}

.round {
    width: 50%;
    border-radius: 15px;
    border: 1px #000 solid;
    transform: translateY(550%);
    font-size: 25px;
    box-sizing: border-box;
}

.config {
    position: absolute;
    top:0px;
    right: 0px;
}
</style>
</head>
<body>
    <a href="/config" class = config>
        <img src="/static/images/config.png" width="50" height="50">
    </a>


<div class="center">
    
        <center>
            <img width="200" height="200" src="/static/images/twitter.png">    
        </center>
</div>
<div>
    <center>
        <form action="/search" method="GET">
            <input width="200" type="text" id="query" name="query" class="round"><br><br>
        </form>
    </center>
</div>


</body>
