<html>
<head>
<style>
.center {
    transform: translateY(100%);
}

.round {
    width: 50%;
    border-radius: 15px;
    border: 1px #000 solid;
    transform: translateY(550%);
    font-size: 25px;
    box-sizing: border-box;
}
</style>
</head>
<body>

<div class="center">
        <center>
            <img width="200" height="200" src="/static/images/twitter.png">    
        </center>
</div>
<div>
    <center>
        <form action="/search" method="POST">
            <input width="200" type="text" id="query" name="query" class="round"><br><br>
        </form>
    </center>
</div>


</body>
